body {
    font-family: 'Open Sans', sans-serif;
}

#cabana-1 {
    background-color: #f1f1f1;
}

#cabana-2 {
    background-color: white;
}

#cabanas {
    background-color: #f1f1f1;
}

#contacto{
    background-color: #162541;
}

.service-image {
    border: 2px solid #ddd;
    border-radius: 10%;
    display: inline-block;
    padding: 35px;
    background: #ddd;
}

.cabana-image {
    border-radius: 10%;
}

.carousel,
.carousel-inner {
    height: 80vh;
    width: 100vw;
}

.carousel-item {
  border: 1px solid grey;
  max-height: 80vh;
  min-height: 80vh;
  max-width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}