body {
    font-family: 'Open Sans', sans-serif;
}

#cabana-1 {
    background-color: #f1f1f1;
}

#cabana-2 {
    background-color: white;
}

#cabana-3 {
    background-color: #f1f1f1;
}

#footer{
    background-color: #162541;
}

